.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.forms {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login {
    text-align: center;
}

.form-content {
    padding: 20px;
}

header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 25px; /* Changed margin-bottom to 25px */
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.password {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

.eye-icon {
    position: relative;
    left: -30px;
    top: -35px;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}

.form-link {
    margin-top: 20px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.link {
    color: #007bff;
}

.signup-link {
    font-weight: bold;
}
